{% extends 'uhome.html' %}

{% block content %}
<h3><a href="more">Above 2000 cakes</a></h3>
<center>
    <table class="table table-striped" style="width:50%;">
<form method="post" action="search">
    {% csrf_token %}
    <tr>
    <th>Choose a flavour:</th>
    <td><select name="flv">

        {% for i in q %}
        <option value="{{i.flavour}}">{{i.flavour}}</option>
        {% endfor %}
        </select>
    </td>
    </tr>
    <tr>
    <td align="center" colspan="2"><input type="submit" value="Search"></td>
    </tr>
</form>
        </table>
{% if q %}
<table class="table table-striped" style="width:50%;">
    <tr>
        <th>Cake</th>
        <th>Quantity</th>
        <th>Flavour</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    {% for i in q %}
    <tr>
        <td>{{i.cake_name}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.flavour}}</td>
        <td>{{i.price}}</td>
        <td><img src="{{i.image.url}}" alt="photo"  height="300" width="250"></td>


    </tr>
    {% endfor %}
</table>
{% endif %}

<table class="table table-striped" style="width:50%;">
    {% if s %}
    <tr>
        <th>Cake</th>


        <th>Quantity</th>
        <th>Flavour</th>
        <th>Price</th>
    </tr>

    <tr>
        <td>{{s.cake_name}}</td>
        <td>{{s.quantity}}</td>
        <td>{{s.flavour}}</td>
        <img src="{{s.image.url}}" alt="photo"  height="300" width="250">
        <td><a href="">Order</a></td>

    </tr>

</table>
{% endif %}

</center>
{% endblock content %}
